.section1 {
    font-family: 'roboto', sans-serif;
    background-color: #1f2937;
    color: #fff;
    height: 530px;
}

header {
    display: flex;
    align-items: center;
}

.top-nav {
    flex: 1;
}

.top-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 450px;
    margin-right: 36px;
    font-size: 18px;
    color: #e5e7eb;
}

header > div {
    padding-left: 200px;
    font-size: 24px;
    color: #f9faf8;
}

h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 0;
}

article p {
    margin-top: 0;
    font-size: 18px;
    color: #e5e7eb;
}

article {
    padding-left: 200px;
}

.container {
    display: flex;
    margin-top: 80px;
}

.item {
    flex: 1;
}

.side {
    width: 540px;
    height: 230px;
    border: 1px solid grey;
    text-align: center;
    background: grey;
    margin-top: 48px;
    line-height: 180px;
    margin-right: 48px;
    font-size: 18px;
    color: #e5e7eb;
}

.btn {
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    border-radius: 7px;
    background-color: #3882f6;
    font-size: 18px;
    color: white;
}

.section2 {
    font-family: 'roboto', sans-serif;
    height: 500px;
}

h2 {
    text-align: center;
    font-weight: bolder;
    margin-top: 60px;
    width: 100%;
    font-size: 36px;
    color: #1f2937;
}

.square {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.flex-squares {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    gap: 48px;
    margin-right: 150px;
    font-size: 18px;
    text-align: center;
}

.section3 {
    width: 100%;
    height: 440px;
    background-color: #e5e7eb;
    font-family: 'roboto', sans-serif;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: normal;
    color: #1f2937;
    padding-top: 120px;
    padding-left: 200px;
    margin-bottom: 0;
}

.section3 p {
    margin-left: 65%;
    font-weight: bold;
    font-size: 24px;
    margin-top: 0;
}

.section4 {
    height: 250px;
    font-family: 'roboto', sans-serif;
}

.blue {
    background-color: #3882f6;
    border-radius: 8px;
    margin-top: 100px;
    width: 970px;
    margin-left: 200px;
    color: #fff;
    height: 150px;
}

.section4 .btn {
    border: 2px solid #fff;
    margin-right: 100px;
    margin-bottom: 48px;
}

h3 {
    margin-left: 72px;
    padding-top: 48px;
    font-size: 24px;
    color: #f9faf8;
    width: 400px;
    margin-bottom: 0;
}

.flex-container p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.flex-container {
    display: flex;
    margin-left: 72px;
    justify-content: space-between;
}

footer div {
    background-color: #1f2937;
    height: 100px;
    font-size: 18px;
    color: #e5e7eb;
    font-family: 'roboto', sans-serif;
    text-align: center;
    line-height: 100px;
}
